    #presentation_video{
        background-size: 100% 115%;
        background-position-y: -32px;
        display: inline;
        position: relative;
        bottom: 30%;
        left: 4%;
        align-items: center;
        width: 86%;
        transform: translateY(100%);
        height: 24%;
        border: 35px solid rgba(46, 254, 195, 0.1);
        background-color: linear-gradient(90deg, rgba(52, 228, 251, 1) 25%, rgba(48, 238, 255, 1) 50%, rgba(55, 252, 242, 1) 75%, rgba(47, 255, 217, 1) 100%);
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
        justify-content: center;
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
    }

    #welcome_message{
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 1);
        border-radius: 5px;
        padding: 10px 20px 10px 10px;
        font-size: 80px;
        color: white;
        text-shadow: 2px 2px 4px #000000;
        position: absolute;
        top: 1400px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family:Arial, Helvetica, sans-serif;
        font-style: italic;
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
    }
    #cucei_logo{
        position: absolute;
        top: 190px;
        left: 50%;
        transform: translateX(-50%);
        width: 700px;
        box-shadow: 0 4px 12px 0 rgba(33, 33, 33, 0.9);
        border-radius: 5px;
        padding: 4px;
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
        border-radius: 10px;
    }

    body{
        background-image: url('./images/cloud_background.jpg'), url('./images/cloud_background_flip.jpg');
        background-size: cover, cover;
        background-repeat: no-repeat, repeat;
        margin: 30px;
        overflow: hidden;
        padding: 10px; 
    }