    body{
        background-size: cover;
        background-position: center;
        margin: 30px;
        overflow: hidden;
        padding: 10px;
    }
    #presentation_video{
        display: flex;
        width: 100%;
        transform: translateX(-3%);
        height: 100svh;
        border: 5px solid gainsboro;
        padding: 20px;
        justify-content: center;
        border-radius: 20px;
    }
    #welcome_message{
        text-align: center;
        font-size: 80px;
        color: white;
        text-shadow: 2px 2px 4px #000000;
        position: absolute;
        top: 1400px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family:Arial, Helvetica, sans-serif;
        font-style: italic;
    }
    #cucei_logo{
        position: absolute;
        top: 190px;
        left: 50%;
        transform: translateX(-50%);
        width: 700px;
        border: 10px dashed rgb(179, 179, 179);
        border-radius: 30px;
    }